fastapi[standard]
streamlit
pandas
gunicorn
uvicorn
kagglehub
numpy==1.26.4
scikit-learn==1.6.1
matplotlib
opencv-python
pillow
aiofiles
seaborn
shap
nbconvert
tf-keras-vis
tensorflow
python_dotenv
google-genai
langchain
langchain-core
langgraph
pytest
pytest-asyncio
watchdog
transformers
peft
datasets
accelerate
torch
